{% extends "Layout/default.twig" %}

{% block content %}
    <br><br>

    <h1 class="header center orange-text">Photo Event</h1>

    <div class="row center">
        <h5 class="header col s12 light">
            Publique uma foto sua personalizada.
        </h5>
    </div>
    <div class="row center">
        <a href="{{ path_for("photoevent.photo.index") }}" id="download-button"
           class="btn-large waves-effect waves-light orange">
            Iniciar
        </a>
    </div>
{% endblock %}